<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C8A3B4FB1BC60B83008C629B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8A3B50F1BC60B83008C629B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8A3B51A1BC60B83008C629B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
